name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install rubber
      run: sudo apt-get update && sudo apt-get install -y rubber
    
    - name: Compile project
      run: make
